.active-line {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsl(0deg 85% 55%);
}

.inactive-line {
  margin-top: 1rem;
}

.lrc {
  overflow: hidden !important;
  text-align: center;
  line-height: 2rem;
  margin-top: var(--lyrics-margin);
  height: var(--lyrics-height);
}
